<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="inputValue"
    app
    color="rgba(190, 22, 33, .9)"
    floating
    mobile-break-point="991"
    persistent
    width="260"
  >
    <v-list-item two-line>
      <v-list-item-title class="pt-2">
        <v-img :src="require('../../assets/bv_logo.png')" height="70" contain/>
      </v-list-item-title>
    </v-list-item>

    <v-divider class="mx-3 mb-3" />

    <v-list nav>
      <!-- Bug in Vuetify for first child of v-list not receiving proper border-radius -->
      <div />

      <v-list-item
        v-for="(link, i) in links"
        :key="i"
        :to="link.to"
        active-class="danger white--text"
      >
        <v-list-item-action>
          <v-icon>{{ link.icon }}</v-icon>
        </v-list-item-action>

        <v-list-item-title v-text="link.text" />
      </v-list-item>
    </v-list>

    <template v-slot:append>
      <v-list nav>
        <v-list-item
          to="/upgrade"
        >
          <v-list-item-action>
            <v-icon>mdi-settings</v-icon>
          </v-list-item-action>

          <v-list-item-title class="font-weight-light">
            Ajustes
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </template>
  </v-navigation-drawer>
</template>

<script>
// Utilities
  import {
    mapMutations,
    mapState
  } from 'vuex'

  export default {
    props: {
      opened: {
        type: Boolean,
        default: false
      }
    },
    data: () => ({
      links: [
        {
          to: '/',
          icon: 'mdi-view-dashboard',
          text: 'Dashboard'
        },
        {
          to: '/sales-details',
          icon: 'mdi-cart',
          text: 'Detalles'
        },/*,
        {
          to: '/customers',
          icon: 'mdi-account-group',
          text: 'Clientes'
        },
        {
          to: '/table-list',
          icon: 'mdi-clipboard-outline',
          text: 'Productos'
        },
        {
          to: '/table-list',
          icon: 'mdi-clipboard-list-outline',
          text: 'Listas de Precios'
        },
        {
          to: '/table-list',
          icon: 'mdi-warehouse',
          text: 'Inventarios'
        },
        {
          to: '/table-list',
          icon: 'mdi-face-agent',
          text: 'Vendedores'
        },        
        {
          to: '/user-profile',
          icon: 'mdi-account',
          text: 'User Profile'
        },*/
        /*{
          to: '/table-list',
          icon: 'mdi-clipboard-outline',
          text: 'Table List'
        },*/
        /*{
          to: '/typography',
          icon: 'mdi-format-font',
          text: 'Typography'
        },
        {
          to: '/icons',
          icon: 'mdi-chart-bubble',
          text: 'Icons'
        }*/
        {
          to: '/maps',
          icon: 'mdi-map-marker',
          text: 'Maps'
        },/*
        {
          to: '/notifications',
          icon: 'mdi-bell',
          text: 'Notifications'
        }*/
      ]
    }),

    computed: {
      ...mapState('app', ['image', 'color']),
      inputValue: {
        get () {
          return this.$store.state.app.drawer
        },
        set (val) {
          this.setDrawer(val)
        }
      }
    },

    methods: {
      ...mapMutations('app', ['setDrawer', 'toggleDrawer'])
    }
  }
</script>
