<template>
  <v-app id="core-login">
    <v-content>
      <v-container class="grey darken-4 fill-height" fluid>
        <v-row align="center" justify="center"> 
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar class="red darken-4" flat>
                <v-toolbar-title class="white--text">Iniciar Sesión</v-toolbar-title>
              </v-toolbar>
              <v-spacer />
              <v-img :src="require('../../assets/bv_logo_trans.png')" height="170" contain/>
              <v-card-actions>
                <v-spacer />
                <span>Inicie sesión de manera segura con Auth o Google haciendo clic en Login</span>
                <v-btn  @click="login" color="red darken-4 white--text">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import axios from 'axios';
  import mixin from '../../components/mixin/mixin.js'

  export default {
    mixins: [mixin],
    name: 'CoreLogin',
    data: () => ({
      email: ''
    }),
    props: {
      source: String,
    },
    methods: {
      // Log the user in
      login() {
        this.$auth.loginWithRedirect();
      }
    },
    mounted () {
     
    }
  }
</script>