<template>
  <v-app id="core-registration-form">
    <v-content>
      <v-container class="grey darken-4 fill-height" fluid>
        <v-row align="center" justify="center"> 
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar class="red darken-4" flat>
                <v-toolbar-title class="white--text">Bienvenido</v-toolbar-title>
              </v-toolbar>
              <v-carousel :light="true">
                <v-carousel-item>
                  <v-col>
                    <span class="pa-0 ma-0">Es la primera vez que te vemos por acá. Por favor valida la siguiente información realizando los ajustes que consideres necesarios</span>
                    <v-form v-model="valid">
                      <v-container>
                        <v-row>
                          <v-text-field
                            v-model="name"
                            :counter="10"
                            :rules="nameRules"
                            label="Nombre"
                            placeholder="Por ejemplo, Innova J2"
                            required
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="email"
                            :rules="emailRules"
                            label="Correo"
                            placeholder="Por ejemplo, consultoria@iideas.biz"
                            readonly
                            required
                          ></v-text-field>
                        </v-row>
                        <v-row align="center" justify="center">
                          <v-btn  @click="logout" color="red darken-4 white--text">Quizás en otro momento</v-btn>
                        </v-row>
                      </v-container>
                    </v-form>   
                  </v-col>               
                </v-carousel-item>
                <v-carousel-item>
                  <v-col>
                    <span class="pa-0 ma-0">Ahora, crea una Organizacion dándole un nombre. Podrás añadir sucursales luego</span>
                    <v-form v-model="valid">
                        <v-container>
                          <v-row>
                            <v-text-field
                              v-model="organization"
                              :counter="10"
                              :rules="nameRules"
                              label="Nombre"
                              placeholder="Por ejemplo, Innovart J2"
                              required
                            ></v-text-field>
                          </v-row>
                        </v-container>
                      </v-form>  
                      <span class="pa-0 ma-0">Si lo deseas, puedes dejar la sucursal demo para explorar lo que tenemos para tí</span>
                      <v-form v-model="valid">
                        <v-container>
                          <v-row>
                            <v-col cols="1"></v-col>
                            <v-col cols="10">
                              <v-switch v-model="loadDemoData" class="ma-2" label="Cargar sucursal de ejemplo" color="red"></v-switch>
                            </v-col>
                            <v-col cols="1"></v-col>
                          </v-row>
                        </v-container>
                      </v-form>
                  </v-col>
                </v-carousel-item>
                <v-carousel-item>
                  <v-col>
                    <span class="pa-0 ma-0">Estamos listos! Si no tienes nada que modificar, presiona "Comenzar"</span>
                    <v-row align="center" justify="center">
                            <v-icon size="200px" color="red darken-4" style="display: inline-block;"> mdi-check</v-icon>
                    </v-row>
                    <v-spacer/>
                    <v-row align="center" justify="center">
                      <v-btn  @click="register" color="red darken-4 white--text">Comenzar</v-btn>
                    </v-row>
                  </v-col>
                </v-carousel-item>
              </v-carousel>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import axios from 'axios';
  import mixin from '../../components/mixin/mixin.js'
  
  export default {
    mixins: [mixin],
    name: 'CoreRegistrationForm',
    data: () => ({
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 100) || 'El nombre no debe exceder los 100 caracteres',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'El e-mail debe ser válido',
      ],
      organization: '',
      loadDemoData: true
    }),
    props: {
      source: String,
    },
    methods: {
      // Log the user in
    },
    methods: {
      register() {
        var ep_register = 'security/register/';
        axios.post(this.root + ep_register, {
            name: this.name,
            email: this.email,
            organization: this.organization,
            loadDemoData: this.loadDemoData
          })
          .then(response => {
            if(response.status == 200) {
              this.$session.start();
              this.$session.set('name', this.name);
              this.$session.set('email', this.email);
              location.href = this.$route.hash;
            } else {
              console.log(response);
            }
          })
          .catch(error => {
            console.log(error);
          })
      },
      logout() {
        this.$session.destroy();
        this.$auth.logout({
          returnTo: window.location.origin
        })
      }
    },
    mounted () {
      this.name = this.$auth.user.name
      this.email = this.$auth.user.email
    }
  }
</script>