<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-row justify="center">
      

      <v-col cols="12">
        <material-card
          color="green"
          flat
          full-width
          title="Clientes"
          text="Ordene por Nombre o Zona, o realice una búsqueda"
        >

        <v-card-title>
          <v-text-field
            v-model="search"
            label="Buscar..."
            single-line
            hide-details
          ></v-text-field>
      </v-card-title>


          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
            :items-per-page="7"
          />
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import axios from 'axios';

  export default {
    data: () => ({
      search: '',
      headers: [
        {
          sortable: true,
          text: 'Nombre',
          value: 'nombre'
        },
        {
          sortable: false,
          text: 'Telefono',
          value: 'telefono'
        },
        {
          sortable: false,
          text: 'Email',
          value: 'email'
        },
        {
          sortable: true,
          text: 'Zona',
          value: 'zona',
          align: 'right'
        }
      ],
      items: [
        {
        }
      ]
    }),


    mounted() {
      var root = 'https://ionicorderapp.firebaseio.com/';
      var endpoint = 'clientes.json';
      axios.get(root + endpoint)
        .then(response => {
          this.items = [...response.data.clientes]
          //console.log([...response.data.clientes])
          //console.log(response);
        });
    } 
  }
</script>
