<!--
https://medium.com/risan/vue-chart-component-with-chart-js-db85a2d21288
-->
<template>
  <v-container fluid class="pt-0 px-1">
  <v-tabs fixed-tabs  background-color="rgba(190, 22, 33, .9)" dark height="40">
    <v-tab>
      Vista Resumen
    </v-tab>
    <v-tab>
      Vista Libre
    </v-tab>
  
    <v-tab-item>
      <v-row>
        <template>
          <v-row>
            <v-spacer></v-spacer>
            <v-col cols="12" sm="12" md="4" class="pa-1">
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="date"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="date"
                    label="Fecha de Referencia"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" no-title scrollable :max="curDate">
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </template>      
      </v-row>
      <v-row class="py-0">
        <v-col cols="12" md="6" lg="3" class="py-0 my-n4">
          <material-chart-card
            :data="dailySalesChart.data"
            :options="dailySalesChart.options"
            color="info"
            type="Line"
            :key="componentKey"
          >
            <h4 class="title font-weight-light">
              Ventas Netas Diarias
            </h4>

            <p class="category d-inline-flex font-weight-bold">
              Promedio de Ventas de la Semana "{{ formatPrice(salesStats.avg) }}" </br> Ventas de la Semana "{{ formatPrice(salesStats.sum) }}"
            </p>
          </material-chart-card>
        </v-col>

        <v-col cols="12" md="6"  lg="3" class="py-0 my-n4">
          <material-chart-card
            :data="dailyProductsChart.data"
            :options="dailyProductsChart.options"
            color="green"
            type="Line"
            :key="componentKey"
          >
            <h3 class="title font-weight-light">
              Ventas en Unidades
            </h3>
            <p class="category d-inline-flex font-weight-bold">
              Promedio de Articulos Diarios "{{ Math.round(productsStats.avg) }}" </br> Total de Articulos en la Semana "{{ productsStats.sum }}"
            </p>
          </material-chart-card>
        </v-col>

        <v-col cols="12" md="6" lg="3" class="py-0 my-n4">
          <material-chart-card
            :data="dailyUniqueCategoriesChart.data"
            :options="dailyUniqueCategoriesChart.options"
            color="red"
            type="Bar"
            :key="componentKey"
          >
            <h4 class="title font-weight-light">
              Activación de Unidades
            </h4>
          </material-chart-card>
        </v-col>

        <v-col cols="12" md="6" lg="3" class="py-0 my-n4">
          <material-chart-card
            :data="dailyUniqueProductsChart.data"
            :options="dailyUniqueProductsChart.options"
            color="red"
            type="Bar"
            :key="componentKey"
          >
            <h4 class="title font-weight-light">
              Activación de Categorías
            </h4>
          </material-chart-card>
        </v-col>
      </v-row>
      
      <v-row>
        <v-col cols="12" sm="6" lg="3">
          <material-stats-card
            color="green"
            icon="mdi-cash-usd-outline"
            title="Ventas Netas del Mes"
            :value="monthlySales"
          />
        </v-col>

        <v-col cols="12" sm="6" lg="3">
          <material-stats-card
            color="orange"
            icon="mdi-music-accidental-sharp"
            title="Artículos Vendidos en el Mes"
            :value="monthlyProducts"
          />
        </v-col>

        <v-col cols="12" sm="6" lg="3">
          <material-stats-card
            color="red"
            icon="mdi-checkbox-multiple-marked-outline"
            title="Artículos Activados en el Mes"
            :value="monthlyUniqueProducts"
          />
        </v-col>

        <v-col cols="12" sm="6" lg="3">
          <material-stats-card
            color="info"
            icon="mdi-format-list-checks"
            title="Categorías Activadas en el Mes"
            :value="monthlyUniqueCategories"
          />
        </v-col>
      </v-row>
        <v-row>
        <v-col cols="12" sm="12" md="6" lg="6">
          <material-card color="orange" title="Ventas Netas por Canal">
            <v-data-table
              :headers="headers"
              :items="items"
              hide-default-footer
            />
          </material-card>
        </v-col>

        <v-col cols="12" sm="12" md="6" lg="6">
          <material-card
            class="card-tabs"
            color="green"
          >
            <template v-slot:header>
              <v-tabs v-model="tabs" background-color="transparent" slider-color="white">
                <span
                  class="subheading font-weight-light mx-3"
                  style="align-self: center"
                >Participación en Ventas:</span>
                <v-tab class="mr-3">
                  Marca
                </v-tab>
                <v-tab class="mr-3">
                  Artículo
                </v-tab>
                <v-tab class="mr-3">
                  Categoria
                </v-tab>
                <v-tab class="mr-3">
                  Estado
                </v-tab>
              </v-tabs>
            </template>

            <v-tabs-items v-model="tabs">
              <v-tab-item>
                  <v-data-table
                    :headers="headersBrand"
                    :items="itemsBrand"
                    hide-default-footer
                  />
              </v-tab-item>
              <v-tab-item>
                  <v-data-table
                    :headers="headersProduct"
                    :items="itemsProduct"
                    hide-default-footer
                  />
              </v-tab-item>
              <v-tab-item>
                  <v-data-table
                    :headers="headersCategory"
                    :items="itemsCategory"
                    hide-default-footer
                  />
              </v-tab-item>
              <v-tab-item>
                  <v-data-table
                    :headers="headersState"
                    :items="itemsState"
                    hide-default-footer
                  />
              </v-tab-item>                                    
            </v-tabs-items>
          </material-card>
        </v-col>
      </v-row>
    </v-tab-item>
    <v-tab-item>
    </v-tab-item>
  </v-tabs>
  </v-container>
</template>



</template>

<script>
  import axios from 'axios';
  import mixin from '../components/mixin/mixin.js'
  
  export default {
    mixins: [mixin],
    data () {
      return {
        componentKey: 0,
        date: new Date().toISOString().substr(0, 10),
        menu: false,
        salesStats: {'sum' : 0, 'avg' : 0},
        productsStats: {'sum' : 0, 'avg' : 0},
        monthlySales: this.formatPrice('0'),
        monthlyProducts: String(0),
        monthlyUniqueProducts: String(0),
        monthlyUniqueCategories: String(0),
        dailySalesChart: {
          data: {
            labels: [],
            series: [[]]
          },
          options: {
            lineSmooth: this.$chartist.Interpolation.cardinal({
              tension: 0
            }),
            low: 0,
            //high: 210, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
            chartPadding: {
              top: 0,
              right: 0,
              bottom: 0,
              left: 0
            }
          }
        },
        dailyProductsChart: {
          data: {
            labels: [],
            series: [[]]
          },
          options: {
            lineSmooth: this.$chartist.Interpolation.cardinal({
              tension: 0
            }),
            low: 0,
            // high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
            chartPadding: {
              top: 0,
              right: 0,
              bottom: 0,
              left: 0
            }
          }
        },
        dailyUniqueProductsChart: {
          data: {
            labels: [],
            series: [[]]
          },
          options: {
            axisX: {
              showGrid: false
            },
            low: 0,
            //high: 1000,
            chartPadding: { top: 0, right: 5, bottom: 0, left: 0 }
          }
        },
        dailyUniqueCategoriesChart: {
          data: {
            labels: [],
            series: [[]]
          },
          options: {
            axisX: {
              showGrid: false
            },
            low: 0,
            //high: 1000,
            chartPadding: { top: 0, right: 5, bottom: 0, left: 0 }
          }
        },
        headers: [
          {
            sortable: true,
            text: 'Canal de Venta',
            value: 'store_name'
          },
          {
            sortable: true,
            text: 'Tipo de Cliente',
            value: 'customer_type'
          },
          {
            sortable: true,
            text: 'Ventas',
            value: 'net_us_sales',
            align: 'right'
          }
        ],
        items: [{}],
        headersBrand: [
          {
            sortable: true,
            text: 'Marca',
            value: 'brand_name'
          },
          {
            sortable: true,
            text: 'Unidades',
            value: 'total_art'
          },          
          {
            sortable: true,
            text: 'Ventas',
            value: 'net_us_sales'
          },
          {
            sortable: true,
            text: 'Participación',
            value: 'share',
            align: 'right'
          }
        ],
        headersProduct: [
          {
            sortable: true,
            text: 'Artículo',
            value: 'product_name'
          },
          {
            sortable: true,
            text: 'Unidades',
            value: 'total_art'
          },
          {
            sortable: true,
            text: 'Ventas',
            value: 'net_us_sales'
          },
          {
            sortable: true,
            text: 'Participación',
            value: 'share',
            align: 'right'
          }
        ],
        headersCategory: [
          {
            sortable: true,
            text: 'Categoría',
            value: 'subcategory_name'
          },
          {
            sortable: true,
            text: 'Unidades',
            value: 'total_art'
          },
          {
            sortable: true,
            text: 'Ventas',
            value: 'net_us_sales'
          },
          {
            sortable: true,
            text: 'Participación',
            value: 'share',
            align: 'right'
          }
        ],
        headersState: [
          {
            sortable: true,
            text: 'Estado',
            value: 'state_name'
          },
          {
            sortable: true,
            text: 'Unidades',
            value: 'total_art'
          },
          {
            sortable: true,
            text: 'Ventas',
            value: 'net_us_sales'
          },
          {
            sortable: true,
            text: 'Participación',
            value: 'share',
            align: 'center'
          }
        ],
        itemsBrand: [{}],
        itemsProduct: [{}],
        itemsState: [{}],
        itemsCategory: [{}],
        tabs: 0,
        list: {
          0: false,
          1: false,
          2: false
        }
      }
    },
    computed: {
    },
    methods: {
      complete (index) {
        this.list[index] = !this.list[index]
      },

      updateDailySalesChart: function (date) {

        var ep_sales_weekdays = 'sales/byweekdays/' + date;
        axios.get(this.root + ep_sales_weekdays)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            let aux_labels = [];
            let aux_series = [];

            for(let value of response_data){
              console.log(value);
              aux_labels.push(value.day_name.substring(0,1));
              aux_series.push(value.net_us_sales);
            }

            this.dailySalesChart.data.labels = aux_labels;
            this.dailySalesChart.data.series[0] = aux_series;

            this.salesStats = this.getSalesStats();
          });
      },

      updateDailyProductChart: function(date) {
        var ep_products_weekdays = 'products/byweekdays/' + date;
        axios.get(this.root + ep_products_weekdays)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            let aux_labels = [];
            let aux_series = [];

            for(let value of response_data){
              console.log(value);
              aux_labels.push(value.day_name.substring(0,1));
              aux_series.push(value.net_products);
            }

            this.dailyProductsChart.data.labels = aux_labels;
            this.dailyProductsChart.data.series[0] = aux_series;

            this.productsStats = this.getProductsStats();
          });
      },

      updateDailyUniqueProductsChart: function(date) {
        var ep_unique_products_weekdays = 'products/uniquebyweekdays/' + date;
        axios.get(this.root + ep_unique_products_weekdays)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            let aux_labels = [];
            let aux_series = [];

            for(let value of response_data){
              console.log(value);
              aux_labels.push(value.day_name.substring(0,1));
              aux_series.push(value.unique_products);
            }

            this.dailyUniqueProductsChart.data.labels = aux_labels;
            this.dailyUniqueProductsChart.data.series[0] = aux_series;
          });
      },

      updateDailyUniqueCategoriesChart: function(date) {

        var ep_unique_categories_weekdays = 'categories/uniquebyweekdays/' + date;
        axios.get(this.root + ep_unique_categories_weekdays)
        .then(response => {
          let response_data = Object.assign([...response.data]);
          let aux_labels = [];
          let aux_series = [];

          for(let value of response_data){
            console.log(value);
            aux_labels.push(value.day_name.substring(0,1));
            aux_series.push(value.unique_categories);
          }

          this.dailyUniqueCategoriesChart.data.labels = aux_labels;
          this.dailyUniqueCategoriesChart.data.series[0] = aux_series;
        });
      },

      getSalesStats: function() {
        var total = 0;
        for(var i = 0; i < this.dailySalesChart.data.series[0].length; i++) {
            total += this.dailySalesChart.data.series[0][i];
        }
        var avg = total / this.dailySalesChart.data.series[0].length;

        return {'sum' : total, 'avg' : avg};
      },

      getProductsStats: function() {
        var total = 0;
        for(var i = 0; i < this.dailyProductsChart.data.series[0].length; i++) {
            total += this.dailyProductsChart.data.series[0][i];
        }
        var avg = total / this.dailyProductsChart.data.series[0].length;

        return {'sum' : total, 'avg' : avg};
      },

      updateSalesStatCard: function (date) {
        var ep_sales_month = 'sales/bymonth/' + date;
        axios.get(this.root + ep_sales_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            for(let value of response_data){
              this.monthlySales = this.formatPrice(value.net_us_sales);
            }
          });
      },

      updateProductsStatCard: function (date) {
        var ep_products_month = 'products/bymonth/' + date;
        axios.get(this.root + ep_products_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            for(let value of response_data){
              this.monthlyProducts = String(value.net_products);
            }
          });
      },

      updateUniqueProductsStatCard: function (date) {
        var ep_unique_products_month = 'products/uniquebymonth/' + date;
        axios.get(this.root + ep_unique_products_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            for(let value of response_data){
              this.monthlyUniqueProducts = String(value.unique_products);
            }
          });
      },

      updateUniqueCategoriesStatCard: function (date) {
        var ep_unique_categories_month = 'categories/uniquebymonth/' + date;
        axios.get(this.root + ep_unique_categories_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            for(let value of response_data){
              this.monthlyUniqueCategories = String(value.unique_categories);
            }
          });
      },

      updateSalesByChannelTable: function(date) {
        var ep_channel_month = 'sales/bychannel/' + date;
        axios.get(this.root + ep_channel_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            let aux_items = [];

            for(let value of response_data){
              console.log(value);
              value.net_us_sales = this.formatPrice(value.net_us_sales);
              aux_items.push(value);
            }
            this.items = aux_items;
          });
      },

      updateSalesByBrandTable: function(date) {
        var ep_brand_month = 'sales/bybrand/' + date;
        axios.get(this.root + ep_brand_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            let aux_items = [];
            let aux_share = 0;

            for(let value of response_data){
              aux_share += value.net_us_sales;
            }

            for(let value of response_data){
              value.share = this.formatPercentage((value.net_us_sales / aux_share) * 100);
              value.net_us_sales = this.formatPrice(value.net_us_sales);
              aux_items.push(value);
            }
            this.itemsBrand = aux_items;
          });
      },

      updateSalesByProductTable: function(date) {
        var ep_product_month = 'sales/byproduct/' + date;
        axios.get(this.root + ep_product_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            let aux_items = [];
            let aux_share = 0;

            for(let value of response_data){
              aux_share += value.net_us_sales;
            }

            for(let value of response_data){
              value.share = this.formatPercentage((value.net_us_sales / aux_share) * 100);
              value.net_us_sales = this.formatPrice(value.net_us_sales);
              aux_items.push(value);
            }
            this.itemsProduct = aux_items;
          })
      },

      updateSalesByCategoryTable: function(date) {
        var ep_category_month = 'sales/bycategory/' + date;
        axios.get(this.root + ep_category_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            let aux_items = [];
            let aux_share = 0;

            for(let value of response_data){
              aux_share += value.net_us_sales;
            }

            for(let value of response_data){
              value.share = this.formatPercentage((value.net_us_sales / aux_share) * 100);
              value.net_us_sales = this.formatPrice(value.net_us_sales);
              aux_items.push(value);
            }
            this.itemsCategory = aux_items;
          });
      },

      updateSalesByStateTable: function(date) {
        var ep_state_month = 'sales/bystate/' + date;
        axios.get(this.root + ep_state_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            let aux_items = [];
            let aux_share = 0;

            for(let value of response_data){
              aux_share += value.net_us_sales;
            }

            for(let value of response_data){
              value.share = this.formatPercentage((value.net_us_sales / aux_share) * 100)
              value.net_us_sales = this.formatPrice(value.net_us_sales)
              aux_items.push(value)
            }
            this.itemsState = aux_items
          })
      }
    },
    watch: {
      date: function () {
        var selectedDate = this.date.replace('-', '').replace('-', '')
        this.updateDailySalesChart(selectedDate)
        this.updateDailyProductChart(selectedDate)
        this.updateDailyUniqueProductsChart(selectedDate)
        this.updateDailyUniqueCategoriesChart(selectedDate)
        this.updateSalesStatCard(selectedDate)
        this.updateProductsStatCard(selectedDate)
        this.updateUniqueProductsStatCard(selectedDate)
        this.updateUniqueCategoriesStatCard(selectedDate)
        this.updateSalesByChannelTable(selectedDate)
        this.updateSalesByBrandTable(selectedDate)
        this.updateSalesByProductTable(selectedDate)
        this.updateSalesByCategoryTable(selectedDate)
        this.updateSalesByStateTable(selectedDate)
        this.componentKey++;
      }
    },
    mounted () {
      var currentDate = this.date.replace('-', '').replace('-', '')
      this.updateDailySalesChart(currentDate)
      this.updateDailyProductChart(currentDate)
      this.updateDailyUniqueProductsChart(currentDate)
      this.updateDailyUniqueCategoriesChart(currentDate)
      this.updateSalesStatCard(currentDate)
      this.updateProductsStatCard(currentDate)
      this.updateUniqueProductsStatCard(currentDate)
      this.updateUniqueCategoriesStatCard(currentDate)
      this.updateSalesByChannelTable(currentDate)
      this.updateSalesByBrandTable(currentDate)
      this.updateSalesByProductTable(currentDate)
      this.updateSalesByCategoryTable(currentDate)
      this.updateSalesByStateTable(currentDate)
      this.salesStats = this.getSalesStats()
      this.productsStats = this.getProductsStats()
    }
  }
</script>
