<!--
https://github.com/xkjyeah/vue-google-maps/blob/vue2/examples/infowindow.html
https://forum.vuejs.org/t/how-to-custum-google-map-infowindow-vue-js/74241
-->
<template>
  <v-content class="pa-1">
     <v-row>
       <v-col cols="2">
        <v-combobox
          v-model="select_agr"
          :items="items_agr"
          label="Agregación"
          chips
        ></v-combobox>
      </v-col>
      <v-col cols="2">
        <v-combobox
          v-model="select_kpi"
          :items="items_kpi"
          label="Indicador"
          chips
        ></v-combobox>
      </v-col>
      <v-col cols="2">
        <v-combobox
          v-model="select_var"
          :items="items_var"
          label="Variable"
          chips
        ></v-combobox>
      </v-col>
      <v-col cols="3">
        <v-combobox
          v-model="select_val"
          :items="items_val"
          label="Valor"
          multiple
          chips
        ></v-combobox>
      </v-col>  
      <v-col cols="2">
        <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="date"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="date"
                label="Fecha de Referencia"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="date" no-title scrollable :max="curDate">
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
            </v-date-picker>
          </v-menu>
      </v-col>
      <v-col cols="1">
        <v-btn class="mx-2" fab dark small color="red darken-4">
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>
      </v-col>    
    </v-row>
    <v-row>
      <v-container class="fill-height" dark fluid>
        <GmapMap :center="center" :zoom="zoom" ref="map" map-type-id="roadmap">
          <GmapCircle
            v-for="(pin, index) in markers"
            :key="index"
            :center="pin.position"
            :radius="pin.radius"
            :visible="true"
            :options="{fillColor:'red',fillOpacity:0.6, strokeColor:'red', strokeWeight:0.5, strokeOpacity: 0.6}"
          ></GmapCircle>
          <GmapInfoWindow
            v-for="(pin, index) in markers"
            :key="index"
            :position="pin.position"
            :options="pin.options"
            :opened="true"
          ></GmapInfoWindow>
        </GmapMap>
      </v-container>
    </v-row>
  </v-content>
</template>

<style scoped>
  .vue-map-container {
    min-height:80vh;
    width:100%;
    position: relative;
  }
</style>

<script>
  import {gmapApi} from 'vue2-google-maps'
  import axios from 'axios';
  import mixin from '../components/mixin/mixin.js'

  export default {
    mixins: [mixin],
    data () {
      return {
        date: new Date().toISOString().substr(0, 10),
        zoom: 7,
        center: { lat: 10.169025, lng: -68.065818 },
        markers: [
          /*{ Id: 1, name: "Oslo", position: { lat: 59.923043, lng: 10.752839 } },
          { Id: 2, name: "Stockholm", position: { lat: 59.339025, lng: 18.065818 } },
          { Id: 3,  name: "Copenhagen", position: { lat: 55.675507, lng: 12.574227 }},
          { Id: 4, name: "Berlin", position: { lat: 52.521248, lng: 13.399038 } },
          { Id: 5, name: "Paris", position: { lat: 48.856127, lng: 2.346525 } }*/
        ],
        select_agr: ['Suma'],
        items_agr: [
          'Distintos',
          'Promedio',
          'Suma'
        ],
        select_kpi: ['Ventas Netas'],
        items_kpi: [
          'Unidades',
          'Descuentos',
          'Ventas Netas'
        ],
        select_var: ['Marca'],
        items_var: [
          'Artículo',
          'Canal de Venta',
          'Categoria',
          'Marca'
        ],
        select_val: ['MOTORCRAFT'],
        items_val: [
          'YUKKAZO',
          'ACEDELCO',
          'TODAS'
        ],        
        
      };
    },
    computed: {
      google: gmapApi
    },
    methods: {
      updateSalesByStateTable: function(date) {
        var ep_state_month = 'sales/bystate/' + date;
        axios.get(this.root + ep_state_month)
          .then(response => {
            let response_data = Object.assign([...response.data]);
            let aux_items = [];
            let aux_share = 0;
            let aux_max = 0;
            let aux_min = 0;
            let aux_first = true;

            for(let value of response_data){
              aux_share += value.net_us_sales;
              
              //Get the maximum value for normalize
              if (value.net_us_sales > aux_max) {
                aux_max = value.net_us_sales
              }

              if (aux_first) {
                aux_min = value.net_us_sales
                aux_first = false         
              }

              if (value.net_us_sales < aux_min) {
                aux_min = value.net_us_sales
              }
            }

            for(let value of response_data){
              value.name = value.state_name
              value.position = {}
              value.options = {}
              value.position.lat = Number(value.lat)
              value.position.lng = Number(value.lon)
              value.options.content = value.name + '</br>' + this.formatPrice(value.net_us_sales)
              
              value.radius = this.logNormalize(value.net_us_sales, aux_max, aux_min - 0.01, 70000, 20000)
              //console.log(value.net_us_sales + ' - ' + this.normalize(value.net_us_sales, aux_min, aux_max))
              console.log(value.net_us_sales + ' - ' + this.logNormalize(value.net_us_sales, aux_max, aux_min - 0.01, 100000, 50000))
              //value.share = this.formatPercentage((value.net_us_sales / aux_share) * 100)
              //value.net_us_sales = this.formatPrice(value.net_us_sales)
              aux_items.push(value)
            }
            this.markers = aux_items
          })
      }
    },
    mounted () {
      const start = new Date(Date.now());
      const formatted_date = start.getFullYear() + '' + ('' + (start.getMonth() + 1)).padStart(2, '0') + '01';
      console.log('Formated Date', formatted_date);
      this.updateSalesByStateTable(formatted_date);
    }
  }
</script>
