<template>
  <v-container fill-height fluid grid-list-xl>
    <v-row justify="center">
      <v-col cols="12">
        <material-card color="green" flat full-width
          title="Detalle de Ventas del Mes"
          text="Ordene por cualquiera de las columnas o realice una búsqueda"
        >
        <v-card-title>
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="date"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
            <template v-slot:activator="{ on }">
              <v-col cols="1">
                <v-btn><vue-excel-xlsx :data="items" :columns="headers" :filename="'ventas'" :sheetname="'Ventas'">Descargar</vue-excel-xlsx></v-btn>
              </v-col>
              <v-col cols="9">
                <v-text-field v-model="search" label="Buscar..." single-line hide-details></v-text-field>
              </v-col>
              <v-col cols="2">
                <v-text-field v-model="date" label="Fecha de Referencia"  hide-details readonly v-on="on"></v-text-field>
              </v-col>
            </template>
            <v-date-picker v-model="date" no-title scrollable :max="curDate">
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
            </v-date-picker>
            </v-menu>          
      </v-card-title>
          <v-data-table dense :loading="loadFlag" loading-text="Cargando..."
            :headers="headers"
            :items="items"
            :search="search"
            :items-per-page="10"
          />
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import mixin from '../components/mixin/mixin.js'

  export default {
    mixins: [mixin],
    data: () => ({
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      search: '',
      loadFlag: true,
      headers: [
        {
          sortable: true,
          label: 'Fecha',
          text: 'Fecha',
          field: 'day_desc',
          value: 'day_desc',
          width: '120px'
        },
        {
          sortable: true,
          label: 'Documento',
          text: 'Doc',
          field: 'fact_num',
          value: 'fact_num',
          width: '80px'
        },
        {
          sortable: false,
          label: 'Tipo Documento',
          text: 'T Doc',
          value: 'short_name',
          field: 'short_name',
        },
        {
          sortable: false,
          text: 'Estado',
          label: 'Estado',
          value: 'state_name',
          field: 'state_name'
        },
        {
          sortable: false,
          text: 'Canal',
          label: 'Canal',
          value: 'store_name',
          field: 'store_name'
        },
        {
          sortable: false,
          text: 'Cliente',
          label: 'Cliente',
          value: 'customert_name',
          field: 'customert_name'
        },
        {
          sortable: false,
          text: 'T Cli',
          label: 'Tipo Cliente',
          value: 'customer_type',
          field: 'customer_type'
        },
        {
          sortable: false,
          text: 'Artículo',
          label: 'Artículo',
          value: 'product_name',
          field: 'product_name'
        },
        {
          sortable: false,
          text: 'Marca',
          label: 'Marca',
          value: 'brand_name',
          field: 'brand_name'
        },
        {
          sortable: false,
          text: 'Categoría',
          label: 'Categoría',
          value: 'subcategory_name',
          field: 'subcategory_name'
        },
        {
          sortable: true,
          text: 'Cant.',
          label: 'Cantidad',
          value: 'total_art',
          field: 'total_art',
          align: 'right',
          width: '80px'
        },
        /*{
          sortable: true,
          text: 'Precio',
          value: 'prec_vta',
          align: 'right',
          visibility: 'hidden'
        },*/
        {
          sortable: true,
          text: 'Neto',
          label: 'Neto',
          value: 'net_amount_us',
          field: 'net_amount_us',
          align: 'right',
          width: '80px'
        },
        {
          sortable: true,
          text: 'Desc.',
          label: 'Descuentos',
          value: 'descuentos_us',
          field: 'descuentos_us',
          align: 'right',
          width: '90px'
        }
      ],
      items: [
        {
        }
      ]
    }),

    mounted() {
      var currentDate = this.date.replace('-', '').replace('-','');
      this.updateSalesDetails(currentDate);
    },

    methods: {
      updateSalesDetails: function (date) {
        var ep_sales_details = 'sales/details/' + date;
        axios.get(this.root +  ep_sales_details)
          .then(response => {
            //this.items = [...response.data]

            let response_data = Object.assign([...response.data]);
            let aux_items = [];

            for(let value of response_data){
              value.net_amount_us = this.formatPrice(value.net_amount_us);
              value.descuentos_us = this.formatPrice(value.descuentos_us);
              aux_items.push(value);
            }
            this.items = aux_items;
            this.loadFlag = false;

          });
      },
    },
    watch: {
      date: function() {
        var selectedDate = this.date.replace('-', '').replace('-','');
        this.updateSalesDetails(selectedDate); 
      }
    }
  }
</script>
