<template>
  <v-app>
    <div v-if="$session.exists()">
      <core-app-bar />
      <core-drawer />
      <core-view />
      <core-footer />
    </div>
    <div v-else-if="$auth.loading || !$auth.isAuthenticated">
      <core-login />
    </div>    
    <div v-else>
      <core-registration-form />
    </div>
  </v-app>
</template>

<script>
  document.documentElement.style.overflow = 'auto';
  export default {
    components: {
      CoreLogin: () => import('@/components/core/Login'),
      CoreRegistrationForm: () => import('@/components/core/RegistrationForm'),
      CoreDrawer: () => import('@/components/core/Drawer'),
      CoreFooter: () => import('@/components/core/Footer'),
      CoreAppBar: () => import('@/components/core/AppBar'),
      CoreView: () => import('@/components/core/View')
    }
  }
</script>
